.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid #eee;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.link {
  color: #999;
  text-decoration: none;
  font-size: 0.9rem;
}

.active {
  color: black;
  font-weight: bold;
  text-decoration: none;
}